.oneside{
    text-align: center;
    font-size: 30px;
    padding:'5%';
    background-color: rgb(136, 136, 136);
}
.ui-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.oneside.tab-active{
   background-color: red;
   color: white;
}